@use '../abstracts' as *;

.nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  top: 0;
  z-index: 9;

  &__logo img {
    width: 150px;
    margin-left: 5vw;
  }

  &__links {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }

  &__links li {
    list-style: none;
  }

  &__links a {
    margin: 10px 10px;
    color: $clr--white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 16px;
  }

  &__links a:hover {
    border-bottom: $clr--white solid 2px;
    padding-bottom: 4px;
  }

  &__links--active a {
    font-weight: 500;
    border-bottom: $clr--white solid 2px;
    padding-bottom: 4px;
  }

  &__burger {
    display: none;
    cursor: pointer;
  }

  &__burger div {
    width: 25px;
    height: 3px;
    background-color: $clr--white;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: $screen-lg) {
  body {
    overflow-x: hidden;
  }

  .nav {
    &__logo {
      width: 70%;
    }

    &__links {
      width: 35%;
      position: fixed;
      height: 100vh;
      right: 0;
      top: 0;
      background-color: $clr--dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }

    &__links li {
      margin-top: 8vh;
      opacity: 0;
    }

    &__homeLink {
      margin-top: 12vh !important;
    }

    &__burger {
      display: block;
      margin-right: 4vw;
    }
  }

  .nav--active {
    transform: translateX(0%);
  }

  @keyframes nav--linksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .nav--burgerToggle .nav__burgerLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .nav--burgerToggle .nav__burgerLine2 {
    opacity: 0;
  }
  .nav--burgerToggle .nav__burgerLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (min-width: $screen-s) and (max-width: $screen-md) {
  .nav {
    min-height: 8vh;

    &__logo img {
      width: 120px;
    }

    &__links {
      width: 50%;
    }
  }
}

@media screen and (max-width: $screen-s) {
  .nav {
    min-height: 8vh;

    &__logo img {
      width: 120px;
    }

    &__links {
      width: 60%;
    }
  }
}

.nav--hide {
  display: none;
}
